<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.bpgapp">

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/bpg_icon_small"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/bpg_icon_small_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BPGApp">
        <activity android:name=".LineGraph"></activity>
        <activity android:name=".TableBP" />
        <activity android:name=".TableG" />
        <receiver android:name=".AlertReceiver" />
        <activity
            android:name=".ThirdFragment"
            tools:ignore="Instantiatable" />
        <activity android:name=".MainActivityBlank">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>